<%# app/views/schoolworks/index.html.erb %>
<% content_for :title, "Schoolworks" %>
<div class="bg-base-200 flex flex-1 p-4 gap-2">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <%# Schoolworks List Section %>
  <div class="section-card basis-[30%] max-h-[600px] flex flex-col">
    <%# List Header %>
    <div class="flex items-center justify-between gap-2 mb-4">
      <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-clipboard-text">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
          <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
          <path d="M9 12h6" />
          <path d="M9 16h6" />
        </svg>
        <h2 class="text-2xl font-semibold">Schoolworks</h2>
      </div>
      <%= link_to new_schoolwork_path, class: "btn btn-primary" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-circle-plus">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
          <path d="M9 12h6" />
          <path d="M12 9v6" />
        </svg>
        New
      <% end %>
    </div>
    <div class="divider mt-0 h-0"></div>
    <%# Schoolworks List Container %>
    <div id="schoolworks_list_container" class="flex flex-1 items-center justify-center overflow-y-auto">
      <% if @schoolworks.any? %>
        <%# Schoolworks List %>
        <ul id="schoolworks_list" class="w-full divide-y divide-base-300">
          <% @schoolworks.each do |schoolwork| %>
            <%= render "schoolwork_item", schoolwork: schoolwork %>
          <% end %>
        </ul>
      <% else %>
        <%= render "no_schoolworks" %>
      <% end %>
    </div>
  </div>
  <%# Schoolwork Display %>
  <div class="basis-[70%] flex flex-col gap-2">
    <%= render "toolbar" %>
    <%# Details Card %>
    <%= turbo_frame_tag "schoolwork_details", class: "h-full" do %>
      <%= render "details_placeholder" %>
    <% end %>
  </div>
</div>