<%= turbo_frame_tag "modal_container" do %>
  <dialog id="subject_modal" data-controller="modal" data-modal-target="dialog" class="modal">
    <div class="modal-box">
      <%= turbo_frame_tag "subject_modal_frame" do %>
        <h3 class="text-xl font-bold"><%= subject.new_record? ? "New Subject" : "Edit Subject" %></h3>
        <%= form_with(model: subject, data: { turbo_frame: "subject_modal_frame" }, class: "contents") do |form| %>
          <div class="my-5">
            <%= form.label :name do %>
              Name <span class="text-error">*</span>
            <% end %>
            <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": subject.errors[:name].none?, "border-error focus:outline-error": subject.errors[:name].any?}] %>
            <% if subject.errors.any? %>
              <p class="list-disc text-error ml-2">• <%= subject.errors.first.full_message %></p>
            <% end %>
          </div>
          <div class="my-5">
            <%= form.label :description %>
            <%= form.text_field :description, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": subject.errors[:description].none?, "border-red-400 focus:outline-red-600": subject.errors[:description].any?}] %>
          </div>
          <div class="flex justify-end gap-2">
            <button data-action="modal#closeModal" type="button" class="btn btn-ghost">Close</button>
            <%= form.submit class: "btn btn-neutral", data: { action: "modal#closeModal"} %>
          </div>
        <% end %>
      <% end %>
    </div>
  </dialog>
<% end %>
