<% content_for :title, "Subjects" %>
<div class="bg-base-200 flex flex-1 p-4 gap-2">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <%# Subject List Section %>
  <div class="basis-[30%] max-h-[600px] flex flex-col bg-base-100 border-2 border-base-300 rounded-2xl p-4 shadow-md">
    <%# List Header %>
    <div class="flex items-center justify-between gap-2 mb-4">
      <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-book-2">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M19 4v16h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12z" />
          <path d="M19 16h-12a2 2 0 0 0 -2 2" />
          <path d="M9 8h6" />
        </svg>
        <h2 class="text-2xl font-semibold">Subjects</h2>
      </div>
      <%= link_to new_subject_path, class: "btn btn-primary" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-library-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 3m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" /><path d="M4.012 7.26a2.005 2.005 0 0 0 -1.012 1.737v10c0 1.1 .9 2 2 2h10c.75 0 1.158 -.385 1.5 -1" /><path d="M11 10h6" /><path d="M14 7v6" /></svg>
        New
      <% end %>
    </div>
    <div class="divider mt-0 h-0"></div>
    <%# Subject List %>
    <div class="flex flex-1 overflow-y-auto">
      <% if !@subjects.blank? %>
        <ul class="w-full divide-y divide-base-300">
          <% @subjects.each do |subject| %>
            <li class="flex items-center px-4 py-3 transition-colors duration-200 hover:bg-base-200 rounded-lg cursor-pointer">
              <%= link_to subject, data: { turbo_frame: "subject_details" } do%>
                <div aria-label="status" class="status status-neutral mr-3"></div>
                <span class="flex-1 text-lg text-accent-content font-semibold">
                  <%= subject.name %>
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="flex flex-1 flex-col items-center pt-32 text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-notebook-off"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 4h9a2 2 0 0 1 2 2v9m-.179 3.828a2 2 0 0 1 -1.821 1.172h-11a1 1 0 0 1 -1 -1v-14m4 -1v1m0 4v13" /><path d="M13 8h2" /><path d="M3 3l18 18" /></svg>
          No Subjects
        </div>
      <% end %>
    </div>
  </div>
  <%# Subject Display %>
  <div class="basis-[70%] flex flex-col gap-2">
    <%# Overview Card %>
    <%= turbo_frame_tag "subject_details" do %>
      <div class="bg-base-100 border-2 border-base-300 rounded-2xl shadow-md p-4">
        <h3 class="text-xl font-bold">Overview</h3>
        Select a subject to view its details
      </div>
    <% end %>
    <%# School Works List %>
    <%= render "school_works", subject: @subjects.first %>
  </div>
</div>
