<% content_for :title, "Subjects" %>
<div class="bg-base-200 flex flex-1 p-4 gap-2">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <%# Subject List Section %>
  <div class="section-card basis-[30%] max-h-[600px] flex flex-col">
    <%# List Header %>
    <div class="flex items-center justify-between gap-2 mb-4">
      <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-book-2">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M19 4v16h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12z" />
          <path d="M19 16h-12a2 2 0 0 0 -2 2" />
          <path d="M9 8h6" />
        </svg>
        <h2 class="text-2xl font-semibold">Subjects</h2>
      </div>
      <%= link_to new_subject_path, data: { turbo_frame: "modal_container" }, class: "btn btn-primary" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-library-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 3m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" /><path d="M4.012 7.26a2.005 2.005 0 0 0 -1.012 1.737v10c0 1.1 .9 2 2 2h10c.75 0 1.158 -.385 1.5 -1" /><path d="M11 10h6" /><path d="M14 7v6" /></svg>
        New
      <% end %>
    </div>
    <div class="divider mt-0 h-0"></div>
    <%# Subject List Container %>
    <div id="subjects_list_container" class="flex flex-1 overflow-y-auto">
      <% if !@subjects.blank? %>
        <%# Subject List %>
        <ul id="subjects_list" class="w-full divide-y divide-base-300">
          <% @subjects.each do |subject| %>
            <%= render "subject", subject: subject %>
          <% end %>
        </ul>
      <% else %>
        <%= render "no_subjects" %>
      <% end %>
    </div>
  </div>
  <%# Subject Display %>
  <div class="basis-[70%] flex flex-col gap-2">
    <%# Overview Card %>
    <%= turbo_frame_tag "subject_details" do %>
      <%= render "details_placeholder" %>
    <% end %>
    <%# School Works List %>
    <%= render "school_works", subject: @subjects.first %>
  </div>
</div>
